models/**/magfield**
models/**/neuron_firing_mag**
models/**/vtk**


# Ignore everything in models subdirectories except .py and .ipynb
models/**/*
!models/**/*.ipynb
!models/**/*.py
# Keep the directories themselves